@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global background color */
html,
body {
  background: linear-gradient(to bottom right, #1a1a1a, #3a3a3a, #ff4d4d);
  font-family: "Inter", sans-serif;
}

footer {
  background: rgba(255, 255, 255, 0.6); /* Glassmorphism effect */
}
